/*-- scss:defaults --*/

// colors
$link-color: #00802F !default;

/*-- scss:rules --*/
.reveal .progress {
  color: #00802F;
}

.reveal section p {
    // font-size: 0.7em;
    color: #3C3C3C;
}

.reveal section li {
    // font-size: 0.7em;
    color: #3C3C3C;
}

.reveal section pre code {
    // font-size: 0.9em;
}